<h3><%= t '.title' %></h3>

<table>
  <tr>
    <th><%= t 'name' %></th>
  </tr>

  <% for c in @component_housings %>
    <tr>
      <td><%= link_to c.name,  edit_component_housing_path(c) %></td>
   </tr>
  <% end %>
</table>

<%= link_to t('component_housings.new.title'), new_component_housing_path %>
