<h3><%= t '.title' %></h3>

<% @orders.each_index do |i| %>
  <% if @orders[i] %>
    <b><%=h order_state_title(@orders[i].values[0]) %></b>
    <table>
      <% @orders[i].each do |d, o| %>
        <div>
          <%=h o.prize.supplier.name %>
          <%= link_to order_state_text(o), :action => "list", :id => o %>
        </div>
      <% end %>
    </table>

    <br />
  <% end %>
<% end %>

